@import '@/styles/__settings';

.container {
  display: flex;
  flex-direction: column;
  gap: toRem(1);
  @include center();

  .title {
    font-weight: 700;
    font-size: toRem(32);
    line-height: toRem(40);
    letter-spacing: toRem(-1);
  }

  .years {
    font-weight: 500;
    font-size: toRem(16);
    line-height: toRem(26);
    color: $grey;
  }
}
