@import '@/styles/__settings';

.socials {
  display: flex;
  flex-direction: row;
  gap: toRem(25.6);
}

.icon {
  height: toRem(20);
  width: toRem(20);

  @include tablet {
    height: toRem(24);
    width: toRem(24);
  }
}
