@import '@/styles/__settings';

.intro {
  display: flex;
  flex-direction: column;
  @include center();

  @include tablet() {
    align-items: flex-start;
  }

  .title {
    position: relative;
    font-weight: 700;
    font-size: toRem(35);
    line-height: toRem(40);
    text-align: center;

    @include tablet() {
      font-size: toRem(72);
      line-height: toRem(72);
      text-align: left;
    }

    .titleUnderscore {
      position: absolute;
      width: toRem(268);
      height: toRem(4);
      background: $green;
      left: toRem(58);

      @include tablet() {
        left: toRem(0);
        width: toRem(550);
      }
    }
  }

  .description {
    margin-top: toRem(20);
    color: $grey;
    text-align: center;
    font-weight: 500;
    font-size: toRem(16);
    line-height: toRem(26);

    @include tablet() {
      width: toRem(445);
      position: relative;
      text-align: left;
      font-size: toRem(18);
      line-height: toRem(28);
      margin-top: toRem(60);
    }
  }

  .underScoreText {
    margin-top: toRem(24);

    @include tablet() {
      margin-top: toRem(34);
    }
  }

  .breakMobile {
    @include tablet() {
      display: none;
    }
  }

  .break {
    @include mobile() {
      display: none;
    }
  }
}
