@import '@/styles/__settings';

.container {
  display: flex;
  @include center();
  flex-direction: column;

  @include tablet() {
    align-items: flex-start;
    padding-left: toRem(32);
  }

  .borderTop {
    border-top: 1px solid $grey;
    width: 95%;
  }

  .content {
    padding: toRem(40) 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: toRem(24);

    @include tablet() {
      grid-template-columns: repeat(2, 1fr);
      row-gap: toRem(52);
      column-gap: toRem(100);
    }
  }

  .borderBottom {
    border-bottom: 1px solid $grey;
    width: 95%;

    @include tablet() {
      display: none;
    }

    @include desktop() {
      display: none;
    }
  }

  .rings {
    position: absolute;
    background-image: url('../../../../public/pattern-rings.svg');
    height: toRem(129);
    width: toRem(530);
    top: toRem(1094);
    left: toRem(189);
    opacity: 0.25;

    @include tablet() {
      top: toRem(880);
      left: toRem(550);
    }
  }
}
