@import '@/styles/__settings';

.underScoreText {
  display: flex;
  flex-direction: column;
  gap: toRem(10);

  .title {
    font-weight: 700;
    font-size: toRem(16);
    line-height: toRem(12);
    letter-spacing: toRem(2.28571);
    text-transform: uppercase;
  }

  .underscore {
    margin-top: toRem(12);
    width: 100%;
    height: toRem(2);
    background: $green;
  }
}
